/*Some necessary adjustments*/
h1,
body,
html,
main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

body {
  height: 100vw;
  line-height: 1.5;
}

.header-background {
  background-image: url("/french-soup/images/soup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 700px;
}

.header-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 5rem;
  font-weight: lighter;
}

main {
  width: 80%;
  margin: auto;
  text-align: left;
}

.border-bottom {
  border-bottom: 1px solid grey;
  margin: 30px;
}

.recipe-img {
  display: block;
  margin: 50px auto;
}

main p,
main ul,
main ol {
  color: rgba(0, 0, 0, 0.6);
}

ul {
  list-style-type: "-";
}

.margin-top-bottom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.intro p {
  font-size: 1.275rem;
  padding-top: 80px;
}

h2 {
  font-weight: lighter;
}
